{% import "./buttons/anchor.html" as anchor with context %}

{% macro bannerMacro() %}
  <div class="relative isolate overflow-hidden bg-[color:var(--lightest-gray)] min-h-14 flex items-center border-b border-[color:var(--very-light-gray)]">
    <div class="container !py-2">
      <div class="flex flex-wrap items-center gap-x-4 gap-y-2 justify-between">
        <p class="text-sm leading-6 text-gray-900 self-end">
          <strong class="font-semibold align-bottom">
            <a href="tel:{{ settings.phoneNumber }}" data-test="callMeAnchor">{{ settings.phoneNumber }}</a>
          </strong>
          <svg
            viewBox="0 0 2 2"
            class="mx-2 inline h-0.5 w-0.5 fill-current"
            aria-hidden="true">
            <circle
              cx="1"
              cy="1"
              r="1"
            />
          </svg>
          <a href="mailto:{{ settings.email | safe }}" class="align-bottom">{{ settings.email | safe }}</a>
        </p>

        {{ anchor.anchor(
            type='primary',
            anchorText=banner.anchorText,
            destination=banner.anchorDestination,
            iconType='arrow',
            iconWidthHeight='20',
            iconSize='size-5',
            classes='!py-1 !px-3.5 !mb-0 text-sm font-semibold',
            isPhone=false
          )
        }}

      </div>        
    </div>     
    
  </div>
{% endmacro %}
