{% import "./checklist-item.html" as checkList with context %}
{% import "./buttons/anchor.html" as anchor with context %}

<div class="flex flex-col lg:flex-row items-center">

  <div class="max-w-6xl">
    <h1>{{ hero.title | safe }} <span class="text-[color:var(--primary-color)]">{{ hero.titleAccentText | safe }}</span></h1>
    <h2>{{ hero.subTitle | safe }}</h2>
    <p class="mb-6">{{ hero.paragraphOne | safe }}</p>

    {{ anchor.anchor(
        type='primary',
        anchorText='Call us',
        destination=settings.phoneNumber,
        iconType='phone',
        isExternal=false,
        classes='mr-3',
        isPhone=true,
        dataTest='callMeAnchor',
        pointerEvents='pointer-events-none'
      )
    }}

    {{ anchor.anchor(
        type='secondary',
        anchorText='Email us',
        destination=settings.email,
        iconType='email',
        isExternal=true,
        isPhone=false,
        isEmail=true
      )
    }}
   
  </div>

</div>
