{% import "./checklist-item.html" as checkList with context %}
{% import "./buttons/anchor.html" as anchor with context %}

<div class="flex flex-col lg:flex-row items-center">

  <div class="max-w-6xl">
    <h1>{{ hero.title | safe }} <span class="text-[color:var(--primary-color)]">{{ hero.titleAccentText | safe }}</span></h1>
    <h2>{{ hero.subTitle | safe }}</h2>
    <p class="mb-3">{{ hero.paragraphOne | safe }}</p>
    <p class="mb-6">{{ hero.paragraphTwo | safe }}</p>

    {{ anchor.anchor(
        type='primary',
        anchorText='Book an appointment',
        destination='https://anttzchiro.neptune.practicehub.io/p/booking',
        iconType='arrow',
        isExternal=true,
        classes='mr-3',
        isPhone=false
      )
    }}

    {{ anchor.anchor(
        type='secondary',
        anchorText='Call me',
        destination=settings.phoneNumber,
        iconType='phone',
        isExternal=false,
        isPhone=true,
        dataTest='callMeAnchor',
        pointerEvents='pointer-events-none'
      )
    }}
   
  </div>

</div>
